<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoveYourPets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA98F0372853DA0B00F3855E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA98F04D2853DA0D00F3855E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA98F0572853DA0D00F3855E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
